
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/src/.preload.php
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/.idea/codeStyles/codeStyleConfig.xml
/.idea/deployment.xml
/.idea/EasyAdminICDL.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/symfony2.xml
/.idea/vcs.xml
/.idea/workspace.xml
