<div class="field-form-panel">
    <div class="content-panel">
        <div class="content-panel-header">{{ panel_title }}</div>
        <div class="content-panel-body with-background without-footer">
            {% block panel_content %}{% endblock %}
        </div>
    </div>
</div>