{% extends "@EasyAdmin/page/content.html.twig" %}

{% form_theme form "@EasyAdmin/crud/form_theme.html.twig" %}

{% block page_title %}Cambia password del profilo{% endblock %}

{% block page_content %}

{% if done is defined %}
<div class="alert alert-success" role="alert">
    Password modificata, puoi tornare alla <a href="{{ path('home') }}" class="badge badge-success">Home</a>
</div>
<br>
{% endif %}

{{ form(form) }}

{% endblock %}